@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 100vh;
}
:root{
  --bg-color:#F3F4F6;
  --base-bg:#ffffff;
  --primary:#2563EB;
  --primary-accent:#3B82F6;
}
.wrapper{

  margin:auto;
}
.container{
  min-height:100vh;
  min-width: 769px;
}
.cols{
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
}
/*Media query */
@media (min-width: 1536px){
  .container{
    width:1280px;
  }
}